<button routerLink="first" (click)="coun()">count1</button>
<button routerLink="second" (click)="coun()">count2</button>
<button routerLink="three" (click)="coun()">count3</button>
<button routerLink="four" (click)="coun()">count4</button>
<button routerLink="five" (click)="coun()">count5</button>
<button routerLink="six" (click)="coun()">count6</button>
<button routerLink="seven" (click)="coun()">count7</button>
<button routerLink="eight" (click)="coun()">count8</button>
<button routerLink="nine" (click)="coun()">count9</button>
<button routerLink="ten" (click)="coun()">count10</button>
<button routerLink="eleven" (click)="coun()">count11</button>
<br>
{{count}}
<br>
{{this.cons.input}}
<button (click)="add(); addition()">+</button>
<br>
square: {{this.cons.add}}
<br>
<input type="text" name="" [(ngModel)]="cons.name">
{{cons.name}}
<br>
<hr>