td{
    width: 40px;
    height: 40px;
    border: 2px solid black;
}
.bor{
    border: 2px solid black;
    width: 200px;
    height: 40px;
}
.bor2{
    border: 2px solid black;
    width: 200px;
    
}