<div class="bor2">
    
     <!-- <input type="number" placeholder="val1" [(ngModel)]="val1">
        <input type="number" placeholder="val2" [(ngModel)]="val2"> -->
        <div class="bor">
            
            {{cal2}}
        </div>
    <div>
        <table>
            <tr>
                <td (click)="one()">1</td>
                <td (click)="two()">2</td>
                <td (click)="three()">3</td>
                <td (click)="plus()" >+</td>
            </tr>
            <tr>
                <td (click)="four()">4</td>
                <td (click)="five()">5</td>
                <td (click)="six()">6</td>
                <td (click)="min()">-</td>
            </tr>
            <tr>
                <td (click)="seven()">7</td>
                <td (click)="eight()">8</td>
                <td (click)="nine()">9</td>
                <td (click)="mul()">*</td>
            </tr>
            <tr>
                <td (click)="mod()">%</td>
                <td (click)="zero()">0</td>
                <td (click)="div()">/</td>
                <td (click)="equal()">=</td>
            </tr>
        </table>
    </div>
</div>
